/* 화면 너비가 0~1024px pc*/
@media screen and (max-width: 1024px) {* { width: 100%; } 
.banner_text { float: left; width: 30%; } 
nav { float: left; width: 100%; } 
.bannerimg { box-sizing: border-box; background-size: cover; } 
.bannerimg_text { margin: 0 auto; } 

.content { width: auto; max-width: 100%; max-height: 100%; margin: auto auto 0; } 
.text{padding: 50px;}
img { box-sizing: border-box; background-position: center center } 
}





 /* 화면 너비가 0~576px 모바일*/
@media screen and (max-width:576px) { } 
